<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Picker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TwoComponentPicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4309C2DB1E7708F4000BC718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4309C2F41E7708F4000BC718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4309C2FF1E7708F4000BC718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>434E1F511E8056C00080E371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>434E1F691E8056C00080E371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>434E1F741E8056C00080E371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
